body {
    height: 100vh;
    width: 99%;
}

#wrapper-home { 
    display: grid;
    height: 100vh;
    gap: 1%;

    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 15% 5% 30% 50% 80% 20%;
    grid-template-areas: 
    'hd hd hd hd hd'
    'nv nv nv nv nv'
    'as as div1 div1 div1'
    'mn mn mn img img'
    '. div2 div2 div2 .'
    'ft ft ft ft ft'
    ;
}

#hd-home {
grid-area: hd;
background-color: teal ;
}

#nv-home {
grid-area: nv;
background-color: teal ;
}

#as-home {
grid-area: as;
background-color: teal ;
}

#div1-home {
grid-area: div1;
background-color: teal ;
}

#mn-home {
grid-area: mn;
background-color: teal ;
}

#img-home {
    grid-area: img;
    background-color: teal ;
}

#div2-home {
grid-area: div2;
background-color: teal ;
}

#ft-home {
grid-area: ft;
background-color: teal ;
}

