* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fdf2f2;
}

.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
        'header'
        'nav'
        'top'
        'middle'
        'bottom'
        'footer';
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e74c3c;
    color: white;
    padding: 30px;
    text-align: center;
}

header .logo {
    width: 100px
    height: auto ;
    margin-bottom: 15px;

}

nav {
    grid-area: nav;
    background: #c0392b;
    color: white;
    text-align: center;
    padding: 15px;
}

nav a {
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
}

.top {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;

    grid-area: top;
    background: white;
    padding: 60px 40px ;

}

.middle {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    grid-area: middle;
    background: white;
    padding: 60px 40px ;
}


.bottom {
    display: grid;
    grid-area: bottom;
    background: white;
    padding: 60px 40px ;

}

footer {
    grid-area: footer;
    background: #c0392b;
    color: white;
    text-align: center;
    padding: 30px;
}

.box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.quotes {
    border-left: 5px solid #e74c3c;
    padding-left: 15px;
    margin-bottom: 20px;
    font-style: italic;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    margin: 15px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    
}

.card h3 {
    color: #e74c3c;
}