* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fdf2f2;
}

.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
        'header'
        'nav'
        'top'
        'middle'
        'bottom'
        'footer'
    ;
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e74c3c;
    padding: 20px;
    text-align: center;
}

.nav {
    grid-area: nav;
    background: #c0392b;
    color: white;
    text-align: center;
    padding: 15px;
}

.top {
    grid-area: top;
    background: white;
}

.middle {
    grid-area: middle;
    background: white;

}

.bottom {
    grid-area: bottom;
    background: white;
}

.footer {
    grid-area: footer;
    background: white;
}

.box {
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.quotes {
    border-left: 5px solid #e74c3c;
    padding-left: 15px;
    margin-bottom: 20px;
    font-style: italic;
}